@media (min-width: $lg) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: $md) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: $sm) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: $xs) {
  .container {
    max-width: 100%;
  }
}
